@page "/about-me"
@model Chirp.Razor.Pages.AboutMe

@{
    ViewData["Title"] = "Chirp!";

    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <p>
    </p>
    
</div>
</body>
</html>