@page "/forget-me"
@model Chirp.Razor.Pages.ForgetMe

@{
    ViewData["Title"] = "Chirp!";

    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h2> Forget Me </h2>
            <p>
               Are you sure? 
            </p>
            <button> Yes </button>
            <button onclick="window.location='/'"> No </button>
            
           
</div>
</body>
</html>