@page "/forgotten"
@model Chirp.Razor.Pages.Forgotten

@{
    ViewData["Title"] = "Chirp!";

    Layout = "Shared/_Layout";
}
<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h2> You have been forgotten. </h2>
    <p>
        Users can no longer see your cheeps.
    </p>
</div>
</body>
</html>