@page "/forget-me"
@model Chirp.Razor.Pages.ForgetMe

@{
    ViewData["Title"] = "Chirp!";

    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h2> Forget Me </h2>
    <p>
        Are you sure? Users will no longer be able to see your cheeps. This action cannot be undone.
    </p>
    <button onclick="window.location='/forgotten'"> Yes </button>
    <button onclick="window.location='/'"> No </button>
</div>
</body>
</html>